* {	margin:0;
	padding:0;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:border-box;
	box-sizing:	border-box; }
	
body{	width:100%;
		margin: 0 auto;
		text-align:center;}	
		
header {text-align: center;
		margin-top: 10%;
		font-size: 1.5em;
		color: gray;}

form {padding-top: 10%;	}

#botao	{background-color: #1D71D6;
		width:70%;
		font-weight: bold;
		padding:2%;	
		color: white;}

.bot_menu{background-color: #1D71D6;
		width:70%;
		padding:3% 0 3% 0;	
		color: white;
		font-size: 2em;
		border-radius: 10%;}

.entrada {border-style: none;
		border-bottom:0.5px gray solid;
		text-align: center; 
		width: 70%;}
		
 table {border-collapse: collapse;
    	width: 70%;
    	margin:0 auto;}

td, th {border: 1px solid #dddddd;
    text-align: content: '';
    }

tr:nth-child(even) {
    background-color: #dddddd;
	}



